<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 실시간 강좌 매퍼 XML
 * @author 김진규
 * @since 2024.09.01
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.09.01  김진규       최초 생성
 * 2024.09.05  김진규       실시간 강좌 응답 정보, 실시간 강좌 상세 응답 정보, 실시간 강좌 정보, 실시간 강좌 만들기 추가
 * 2024.09.06  김진규       실시간 강좌 상태 업데이트, 멤버가 소유한 실시간 강좌 찾기(최신순), 멤버가 소유한 실시간 강좌 찾기(제목순), 멤버가 소유하지 않은 실시간 강좌 찾기(최신순), 멤버가 소유하지 않은 실시간 강좌 찾기(제목순) 추가
 * 2024.09.07  김진규       실시간 강좌 상세정보 찾기, 실시간 강좌 정보 찾기, 실시간 스트리밍 중인 강좌 리스트 정보 찾기, 강좌 정보로 fcm token 찾기 추가
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.live.mapper.LiveLessonMapper">
    <!-- 실시간 강좌 응답 정보 -->
    <resultMap id="LiveLessonResponseMap" type="com.innerpeace.themoonha.domain.live.dto.LiveLessonResponse">
        <result property="liveId" column="liveId" />
        <result property="lessonId" column="lessonId" />
        <result property="title" column="title" />
        <result property="profileImgUrl" column="profileImgUrl" />
        <result property="instructorName" column="instructorName" />
        <result property="thumbnailUrl" column="thumbnailUrl" />
        <result property="status" column="status" />
        <result property="createdAt" column="createdAt" />
        <result property="minutesAgo" column="minutesAgo" />
    </resultMap>

    <!-- 실시간 강좌 상세 응답 정보 -->
    <resultMap id="LiveLessonDetailResponseMap" type="com.innerpeace.themoonha.domain.live.dto.LiveLessonDetailResponse">
        <id property="liveId" column="liveId" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="profileImgUrl" column="profileImgUrl" />
        <result property="instructorName" column="instructorName" />
        <result property="thumbnailUrl" column="thumbnailUrl" />
        <result property="status" column="status" />
        <result property="createdAt" column="createdAt" />
        <result property="minutesAgo" column="minutesAgo" />
        <result property="isEnrolled" column="isEnrolled" />
        <result property="summary" column="summary" />
        <result property="curriculum" column="curriculum" />
        <result property="supply" column="supply" />
    </resultMap>

    <!-- 실시간 강좌 정보 -->
    <resultMap id="LiveLessonMap" type="com.innerpeace.themoonha.domain.live.vo.LiveLesson">
        <id property="liveId" column="liveId" />
        <result property="memberId" column="memberId" />
        <result property="lessonId" column="lessonId" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="thumbnailUrl" column="thumbnailUrl" />
        <result property="createdAt" column="createdAt" />
        <result property="deletedAt" column="deletedAt" />
        <result property="updatedAt" column="updatedAt" />
    </resultMap>

    <!-- 실시간 강좌 만들기 -->
    <insert id="insertLiveLesson" parameterType="com.innerpeace.themoonha.domain.live.vo.LiveLesson">
        <selectKey keyProperty="liveId" resultType="Long" order="BEFORE">
            SELECT live_lesson_seq.nextval FROM dual
        </selectKey>

        INSERT INTO live_lesson (
            live_id,
            lesson_id,
            member_id,
            title,
            description,
            status,
            thumbnail_url,
            created_at,
            updated_at
        ) VALUES (
            #{liveId},
            #{lessonId},
            #{memberId},
            #{title},
            #{description},
            #{status},
            #{thumbnailUrl},
            #{createdAt},
            #{updatedAt}
        )
    </insert>

    <!-- 실시간 강좌 상태 업데이트 -->
    <update id="updateLiveLessonStatus">
        UPDATE live_lesson
        SET status = #{status}
        WHERE live_id = #{liveId}
    </update>

    <!-- 멤버가 소유한 실시간 강좌 찾기(최신순) -->
    <select id="findLiveLessonsByMember" resultMap="LiveLessonResponseMap">
        SELECT
            l.live_id AS liveId,
            l.lesson_id AS lessonId,
            l.title AS title,
            m.profile_img_url AS profileImgUrl,
            m.name AS instructorName,
            l.thumbnail_url AS thumbnailUrl,
            l.status AS status,
            EXTRACT(MINUTE FROM (SYSTIMESTAMP - l.created_at)) +
            EXTRACT(HOUR FROM (SYSTIMESTAMP - l.created_at)) * 60 +
            EXTRACT(DAY FROM (SYSTIMESTAMP - l.created_at)) * 24 * 60 AS minutesAgo
        FROM live_lesson l
        JOIN member m ON l.member_id = m.member_id
        WHERE
            l.status = 'ON_AIR'
            AND l.lesson_id IN (
                SELECT lesson_id
                FROM sugang
                WHERE member_id = #{memberId}
            )
        ORDER BY l.live_id DESC
    </select>

    <!-- 멤버가 소유한 실시간 강좌 찾기(제목순) -->
    <select id="findLiveLessonsByMemberOrderByTitle" resultMap="LiveLessonResponseMap">
        SELECT
            l.live_id AS liveId,
            l.lesson_id AS lessonId,
            l.title AS title,
            m.profile_img_url AS profileImgUrl,
            m.name AS instructorName,
            l.thumbnail_url AS thumbnailUrl,
            l.status AS status,
            EXTRACT(MINUTE FROM (SYSTIMESTAMP - l.created_at)) +
            EXTRACT(HOUR FROM (SYSTIMESTAMP - l.created_at)) * 60 +
            EXTRACT(DAY FROM (SYSTIMESTAMP - l.created_at)) * 24 * 60 AS minutesAgo
        FROM live_lesson l
        JOIN member m ON l.member_id = m.member_id
        WHERE
            l.status = 'ON_AIR'
            AND l.lesson_id IN (
                SELECT lesson_id
                FROM sugang
                WHERE member_id = #{memberId}
            )
        ORDER BY l.title ASC
    </select>

    <!-- 멤버가 소유하지 않은 실시간 강좌 찾기(최신순) -->
    <select id="findLiveLessonsMemberDoesNotHave" resultMap="LiveLessonResponseMap">
        SELECT
            l.live_id AS liveId,
            l.lesson_id AS lessonId,
            l.title AS title,
            m.profile_img_url AS profileImgUrl,
            m.name AS instructorName,
            l.thumbnail_url AS thumbnailUrl,
            l.status AS status,
            EXTRACT(MINUTE FROM (SYSTIMESTAMP - l.created_at)) +
            EXTRACT(HOUR FROM (SYSTIMESTAMP - l.created_at)) * 60 +
            EXTRACT(DAY FROM (SYSTIMESTAMP - l.created_at)) * 24 * 60 AS minutesAgo
        FROM live_lesson l
        JOIN member m ON l.member_id = m.member_id
        WHERE
            l.status = 'ON_AIR'
            AND l.lesson_id NOT IN (
                SELECT lesson_id
                FROM sugang
                WHERE member_id = #{memberId}
            )
        ORDER BY l.live_id DESC
    </select>

    <!-- 멤버가 소유하지 않은 실시간 강좌 찾기(제목순) -->
    <select id="findLiveLessonsMemberDoesNotHaveOrderByTitle" resultMap="LiveLessonResponseMap">
        SELECT
            l.live_id AS liveId,
            l.lesson_id AS lessonId,
            l.title AS title,
            m.profile_img_url AS profileImgUrl,
            m.name AS instructorName,
            l.thumbnail_url AS thumbnailUrl,
            l.status AS status,
            EXTRACT(MINUTE FROM (SYSTIMESTAMP - l.created_at)) +
            EXTRACT(HOUR FROM (SYSTIMESTAMP - l.created_at)) * 60 +
            EXTRACT(DAY FROM (SYSTIMESTAMP - l.created_at)) * 24 * 60 AS minutesAgo
        FROM live_lesson l
        JOIN member m ON l.member_id = m.member_id
        WHERE
        l.status = 'ON_AIR'
        AND l.lesson_id NOT IN (
            SELECT lesson_id
            FROM sugang
            WHERE member_id = #{memberId}
        )
        ORDER BY l.title ASC
    </select>


    <!-- 실시간 강좌 상세정보 찾기 -->
    <select id="findLiveLessonDetailById" resultMap="LiveLessonDetailResponseMap">
        SELECT
            l.live_id AS liveId,
            l.title AS title,
            l.description AS description,
            m.profile_img_url AS profileImgUrl,
            m.name AS instructorName,
            l.thumbnail_url AS thumbnailUrl,
            l.status AS status,
            l.created_at AS createdAt,
            EXTRACT(MINUTE FROM (SYSTIMESTAMP - l.created_at)) +
            EXTRACT(HOUR FROM (SYSTIMESTAMP - l.created_at)) * 60 +
            EXTRACT(DAY FROM (SYSTIMESTAMP - l.created_at)) * 24 * 60 AS minutesAgo,
            CASE
                WHEN l.member_id = #{memberId} THEN 1
                ELSE 0
            END AS isEnrolled,
            ls.summary AS summary,
            ls.curriculum AS curriculum,
            ls.supply AS supply
        FROM live_lesson l
        JOIN member m ON l.member_id = m.member_id
        JOIN LESSON ls ON l.lesson_id = ls.lesson_id
        WHERE l.live_id = #{liveId}
    </select>

    <!-- 실시간 강좌 정보 찾기 -->
    <select id="findLiveLessonById" resultMap="LiveLessonMap">
        SELECT
            live_id AS liveId,
            member_id AS memberId,
            lesson_id AS lessonId,
            title AS title,
            description AS description,
            thumbnail_url AS thumbnailUrl,
            status AS status
        FROM live_lesson
        WHERE live_id = #{liveId}
    </select>

    <!-- 실시간 스트리밍 중인 강좌 리스트 정보 찾기 -->
    <select id="findActiveLiveLessonIdList" resultType="Long">
        SELECT live_id
        FROM live_lesson
        WHERE status = 'ON_AIR'
    </select>

    <!-- 강좌 정보로 fcm token 찾기 -->
    <select id="findFcmTokensByLessonId" resultType="String">
        SELECT a.fcm_token
        FROM sugang s
            JOIN alim a ON s.member_id = a.member_id
        WHERE s.lesson_id = #{lessonId}
    </select>
</mapper>