<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * 실시간 강좌 채팅 매퍼 XML
 * @author 김진규
 * @since 2024.09.01
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.09.01  김진규       최초 생성
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.live.mapper.LiveChatMapper">
    <insert id="insertLiveChat" parameterType="com.innerpeace.themoonha.domain.live.vo.LiveChat">
        <selectKey keyProperty="liveChatId" resultType="Long" order="BEFORE">
            SELECT seq_live_chat.nextval FROM dual
        </selectKey>

        INSERT INTO live_chat (
            live_chat_id,
            member_id,
            live_id,
            content
        )
        VALUES (
            #{liveChatId}
            #{memberId},
            #{liveId},
            #{content}
        )
    </insert>
</mapper>