<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 어드민 세팅 데이터 매퍼 XML
 * @author 최유경
 * @since 2024.09.05
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.09.05  	최유경        최초 생성
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.admin.mapper.AdminMapper">

    <resultMap id="lessonIndexResultMap" type="com.innerpeace.themoonha.domain.admin.dto.LessonBranchDTO$LessonIndexDTO">
        <id property="index" column="lesson_id"/>
        <result property="name" column="title"/>
    </resultMap>

    <resultMap id="lessonBranchResultMap" type="com.innerpeace.themoonha.domain.admin.dto.LessonBranchDTO">
        <id property="label" column="branch_id" />
        <collection property="items" ofType="com.innerpeace.themoonha.domain.admin.dto.LessonBranchDTO$LessonIndexDTO" resultMap="lessonIndexResultMap"/>
    </resultMap>

    <!-- 지점별 강좌 조회 -->
    <select id="selectLessonAndBranchList" resultMap="lessonBranchResultMap">
        <![CDATA[
        SELECT
            l.branch_id ,
            l.lesson_id ,
            l.title
        FROM
            lesson l
        WHERE
            l.deleted_at IS NULL
        ORDER BY
            l.title ASC
        ]]>
    </select>
</mapper>