<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 어드민 숏폼 매퍼 XML
 * @author 최유경
 * @since 2024.08.29
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.29  	최유경        최초 생성
 * 2024.08.30  	최유경        숏폼 조회
 * 2024.09.05   최유경       숏폼 썸네일 등록
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.admin.mapper.AdminShortFormMapper">

    <insert id="insertShortForm" >
        <![CDATA[
        INSERT INTO short_form (short_form_id, lesson_id, name, video_url, start_date, expire_date, thumbnail_url)
        VALUES (short_form_seq.nextval,
                #{registerRequest.lessonId},
                #{registerRequest.name},
                #{shortFormVideoS3Url},
                #{registerRequest.startDate},
                #{registerRequest.expireDate},
                #{thumbnailS3Url})
        ]]>
    </insert>

    <select id="selectShortFormList" resultType="com.innerpeace.themoonha.domain.admin.dto.ShortFormListAdminResponse">
            SELECT
                sf.short_form_id,
                sf.lesson_id,
                sf.name,
                sf.video_url,
                sf.thumbnail_url,
                sf.start_date,
                sf.expire_date,
                sf.created_at,
                sf.view_count,
                l.branch_id,
                b.name branch_name,
                l.member_id,
                m.name tutor_name,
                l.title
            FROM
                short_form sf
                JOIN
                lesson l
                ON sf.lesson_id = l.lesson_id
                JOIN
                branch b
                ON
                l.branch_id = b.branch_id
                JOIN
                member m
                ON
                l.member_id = m.member_id
            WHERE
                sf.deleted_at IS NULL
                AND l.deleted_at IS NULL
                AND TO_CHAR(sf.start_date, 'YYYY-MM') = #{yearMonth}
                <if test="branchId != null">
                    AND l.branch_id = #{branchId}
                </if>
    </select>
</mapper>