<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 어드민 문확 공방 관리 매퍼 XML
 * @author 최유경
 * @since 2024.08.28
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.28  	최유경        최초 생성
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.admin.mapper.AdminCraftMapper">

    <insert id="insertPrologue">
        <![CDATA[
        insert into prologue (prologue_id, title, video_url, thumbnail_url, type)
        values (prologue_seq.nextval,
                #{registerRequest.title},
                #{prologueS3Url},
                #{thumbnailS3Url},
                #{registerRequest.type})
        ]]>
    </insert>
</mapper>