<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 어드민 강좌 매퍼 XML
 * @author 최유경
 * @since 2024.08.28
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.28  	최유경        최초 생성
 * 2024.09.09  	최유경        강좌 상세 조회
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.admin.mapper.AdminLessonMapper">

    <select id="selectLessonByTutorSchedule"
            resultType="int">
        <![CDATA[
        SELECT COUNT(DISTINCT lesson_id)
        FROM lesson
        WHERE (
                (member_id = #{memberId}
                AND day = #{day})
                AND (start_date <= #{endDate} AND end_date >= #{startDate})
                AND (start_time < #{endTime} AND end_time > #{startTime})
            )
            OR (title = #{title})
        ]]>
    </select>


    <insert id="insertLesson">
        <![CDATA[
        insert into lesson (lesson_id, branch_id, category_id, member_id, title, start_date, end_date, start_time, end_time, summary, cnt, cost, curriculum, supply, preview_video_url, thumbnail_url, place, day, target, online_cost)
        values (lesson_seq.nextval,
                #{registerRequest.branchId},
                #{registerRequest.categoryId},
                #{registerRequest.memberId},
                #{registerRequest.title},
                #{registerRequest.startDate},
                #{registerRequest.endDate},
                #{registerRequest.startTime},
                #{registerRequest.endTime},
                #{registerRequest.summary},
                #{registerRequest.cnt},
                #{registerRequest.cost},
                #{registerRequest.curriculum},
                #{registerRequest.supply},
                #{previewS3Url},
                #{thumbnailS3Url},
                #{registerRequest.place},
                #{registerRequest.day},
                #{registerRequest.target},
                #{registerRequest.onlineCost})
        ]]>
    </insert>

    <select id="selectLessonList"
            resultType="com.innerpeace.themoonha.domain.admin.dto.LessonDetailAdminResponse">
        SELECT
            l.lesson_id,
            l.branch_id,
            b.name branch_name,
            l.category_id,
            c.category,
            l.member_id,
            m.name tutor_name,
            l.title,
            l.start_date,
            l.end_date,
            l.start_time,
            l.end_time,
            l.summary,
            l.cnt,
            l.cost,
            l.curriculum,
            l.supply,
            l.preview_video_url,
            l.thumbnail_url,
            l.place,
            l.day,
            l.target,
            nvl2(l.online_cost,1,0) as is_online,
            l.online_cost,
            l.created_at
        FROM
            lesson l
            JOIN
            branch b
            ON
            l.branch_id = b.branch_id
            JOIN
            member m
            ON
            l.member_id = m.member_id
            JOIN
            category c
            ON
            l.category_id = c.category_id
        <where>
            <if test="branchId != null">
                l.branch_id = #{branchId}
            </if>

            <if test="lessonTitle != null and lessonTitle != ''">
                AND l.title LIKE '%' || #{lessonTitle} || '%'
            </if>

            <if test="tutorName != null and tutorName != ''">
                AND m.name LIKE #{tutorName} || '%'
            </if>

            <if test="day != null">
                AND l.day = #{day}
            </if>

            <if test="target != null">
                AND l.target = #{target}
            </if>

            <if test="categoryId != null">
                AND c.category = #{categoryId}
            </if>
            AND l.deleted_at IS NULL
        </where>
    </select>


    <select id="selectLessonDetail"
            resultType="com.innerpeace.themoonha.domain.admin.dto.LessonDetailAdminResponse">
        SELECT
            l.lesson_id,
            l.branch_id,
            b.name branch_name,
            l.category_id,
            c.category,
            l.member_id,
            m.name tutor_name,
            l.title,
            l.start_date,
            l.end_date,
            l.start_time,
            l.end_time,
            l.summary,
            l.cnt,
            l.cost,
            l.curriculum,
            l.supply,
            l.preview_video_url,
            l.thumbnail_url,
            l.place,
            l.day,
            l.target,
            l.online_cost,
            l.created_at
        FROM
            lesson l
            JOIN
            branch b
            ON
            l.branch_id = b.branch_id
            JOIN
            member m
            ON
            l.member_id = m.member_id
            JOIN
            category c
            ON
            l.category_id = c.category_id
        WHERE
            l.lesson_id = #{lessonId}
            AND l.deleted_at IS NULL
    </select>
</mapper>