<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 문화공방 매퍼 XML
 * @author 손승완
 * @since 2024.08.25
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.25  	손승완        최초 생성
 * 2024.08.26  	손승완        프롤로그 상세 조회 쿼리 추가
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.craft.mapper.CraftMapper">


    <select id="selectPrologueList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.PrologueDTO">
        select
            p.prologue_id,
            p.title,
            p.thumbnail_url,
            count(l.like_cnt_id) like_cnt,
            p.type
        from
            prologue p
        left join
            like_cnt l
        on
            p.prologue_id = l.prologue_id
        where
            p.deleted_at is null
        group by
            p.prologue_id, p.title, p.thumbnail_url, p.type
        order by
            p.type
    </select>

    <select id="selectWishLessonList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.WishLessonDTO">
        select
            w.wish_lesson_id,
            w.title,
            count(v.vote_id) vote_cnt,
            w.theme
        from
            wish_lesson w
        left join
            vote v
        on
            w.wish_lesson_id = v.wish_lesson_id
        where
            w.deleted_at is null
        group by
            w.wish_lesson_id, w.title, w.theme
        order by
            w.theme
    </select>

    <select id="selectSuggestionList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.SuggestionDTO">
        <![CDATA[
        select
            member_name,
            member_profile_img_url,
            content,
            created_at
        from
            (
             select /*+INDEX_DESC(s pk_suggestion)*/
                 rownum rn,
                 m.name member_name,
                 m.profile_img_url member_profile_img_url,
                 s.content,
                 s.created_at
             from
                 suggestion s
             join
                 member m
             on
                 s.member_id = m.member_id
             where
                 rownum <= #{pageNum} * #{size}
            )
        where
            rn > (#{pageNum} - 1) * #{size}
        ]]>
    </select>
    <select id="selectPrologueDetail"
            resultType="com.innerpeace.themoonha.domain.craft.dto.PrologueDetailResponse">

        select
            p.prologue_id,
            p.title,
            p.video_url,
            nvl2(lc.like_cnt_id, 1, 0) already_liked
        from
            prologue p
        left join
            like_cnt lc
        on
            p.prologue_id = lc.prologue_id and lc.member_id = #{memberId}
        where
            p.prologue_id = #{prologueId}
    </select>
</mapper>
