<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 문화공방 매퍼 XML
 * @author 손승완
 * @since 2024.08.25
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.25  	손승완        최초 생성
 * 2024.08.26  	손승완        프롤로그 상세 조회 쿼리 추가
 * 2024.08.27  	손승완        제안합니다 댓글 작성 쿼리 추가
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.craft.mapper.CraftMapper">
    <select id="selectPrologueList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.PrologueDTO">
        SELECT p.prologue_id,
               p.prologue_theme_id,
               t.name                         theme_name,
               t.description                  theme_description,
               p.title,
               p.thumbnail_url,
               p.video_url,
               count(l_all.like_cnt_id)        like_cnt,
               nvl2(l_user.like_cnt_id, 1, 0)  already_liked
        FROM prologue p
        JOIN prologue_theme t ON p.prologue_theme_id = t.prologue_theme_id
        LEFT JOIN like_cnt l_all ON p.prologue_id = l_all.prologue_id
        LEFT JOIN like_cnt l_user ON p.prologue_id = l_user.prologue_id AND l_user.member_id = #{memberId}
        WHERE
            p.deleted_at IS NULL
        GROUP BY
            p.prologue_id, p.prologue_theme_id, p.title, p.thumbnail_url, p.video_url, l_user.like_cnt_id, t.name, t.description
        ORDER BY
            p.prologue_theme_id
    </select>

    <select id="selectWishLessonList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.WishLessonDTO">
        SELECT
            w.wish_lesson_id,
            w.title,
            (SELECT count(v2.vote_id) FROM vote v2 WHERE v2.wish_lesson_id = w.wish_lesson_id) AS vote_cnt,
            w.theme,
            NVL2(v.vote_id, 1, 0) already_voted
        FROM
            wish_lesson w
        LEFT JOIN vote v ON w.wish_lesson_id = v.wish_lesson_id AND v.member_id = #{memberId}
        WHERE
            w.deleted_at IS NULL
        GROUP BY
            w.wish_lesson_id, w.title, w.theme, v.vote_id
        ORDER BY
            w.theme DESC
    </select>

    <select id="selectSuggestionList"
            resultType="com.innerpeace.themoonha.domain.craft.dto.SuggestionDTO">
        <![CDATA[
        SELECT
            member_name,
            member_profile_img_url,
            content,
            created_at
        FROM
            (SELECT
                 m.name AS member_name,
                 m.profile_img_url AS member_profile_img_url,
                 s.content,
                 s.created_at,
                 ROW_NUMBER() OVER (ORDER BY s.suggestion_id DESC) AS rn
             FROM
                 suggestion s
             JOIN member m ON s.member_id = m.member_id
            )
        WHERE
            rn <= #{pageNum} * #{size} and rn > (#{pageNum} - 1) * #{size}
        ]]>
    </select>

    <select id="selectTotalSuggestion" resultType="java.lang.Integer">
        SELECT
            count(suggestion_id)
        FROM
            suggestion
    </select>

    <insert id="insertSuggestion">
        INSERT INTO
            suggestion(suggestion_id, member_id, content)
        VALUES
            (suggestion_seq.nextval, #{memberId}, #{suggestionRequest.content})
    </insert>

    <insert id="insertPrologueLike">
        INSERT INTO
            like_cnt (like_cnt_id, member_id, prologue_id)
        SELECT
            like_cnt_seq.nextval, #{memberId}, #{prologueId}
        FROM
            dual
        WHERE NOT EXISTS (
            SELECT 1
            FROM like_cnt
            WHERE member_id = #{memberId}
              AND prologue_id = #{prologueId}
        )
    </insert>

    <insert id="insertWishLessonVote">
        INSERT INTO
            vote(vote_id, wish_lesson_id, member_id)
        SELECT
            vote_seq.nextval, #{wishLessonId}, #{memberId}
        FROM
            dual
        WHERE NOT EXISTS (
            SELECT
                1
            FROM
                vote v
            JOIN wish_lesson w ON v.wish_lesson_id = w.wish_lesson_id
            WHERE
                v.member_id = #{memberId}
              AND w.theme = (SELECT theme FROM wish_lesson WHERE wish_lesson_id = #{wishLessonId})
        )
    </insert>
</mapper>
