<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 강좌 매퍼 XML
 * @author 손승완
 * @since 2024.08.24
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.24  	손승완        최초 생성
 * 2024.08.25   손승완        강좌 상세 조회 쿼리 추가
 * 2024.08.26   손승완        강사 상세 조회 쿼리 추가
 * 2024.08.26   손승완        장바구니 및 수강신청 쿼리 추가
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.lesson.mapper.LessonMapper">
    <select id="selectLessonList"
            parameterType="com.innerpeace.themoonha.domain.lesson.dto.LessonListRequest"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonDTO">
        SELECT
            *
        FROM (
            SELECT
                l.branch_id,
                l.lesson_id,
                l.thumbnail_url,
                l.target,
                l.title,
                l.cnt,
                l.cost,
                m.name tutor_name,
                CASE
                WHEN l.cnt = 1 THEN l.start_date || ' ' || l.start_time || '~' || l.end_time
                ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time
                END AS lesson_time,
                ROWNUM as rnum
            FROM
                lesson l
            JOIN member m ON l.member_id = m.member_id
            <where>
                <if test="branchId != null">
                    l.branch_id = #{branchId}
                </if>

                <if test="lessonTitle != null and lessonTitle != ''">
                    and l.title like '%' || #{lessonTitle} || '%'
                </if>

                <if test="tutorName != null and tutorName != ''">
                    and m.name like '%' || #{tutorName} || '%'
                </if>

                <if test="day != null">
                    and l.day = #{day}
                </if>

                <if test="target != null">
                    and l.target = #{target}
                </if>

                <if test="categoryId != null">
                    and l.category_id = #{categoryId}
                </if>

                <if test="startTime != null and startTime != ''">
                    and substr(l.start_time, 1, 2) = #{startTime}
                </if>

                <if test="endTime != null and endTime != ''">
                    and substr(l.end_time, 1, 2) = #{endTime}
                </if>

                <if test="cnt != null">
                    <choose>
                        <when test="cnt == 1">
                            and l.cnt = 1
                        </when>
                        <when test="cnt == 2">
                            and l.cnt between 2 and 4
                        </when>
                        <when test="cnt == 3">
                            and l.cnt >= 5
                        </when>
                    </choose>
                </if>
                and TO_DATE(l.end_date, 'YYYY-MM-DD') > SYSDATE
                and l.deleted_at is null
            </where>
            ORDER BY
                l.lesson_id desc
            )
        WHERE 12 >= ROWNUM
    </select>

    <select id="selectShortFormList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.ShortFormDTO">
        SELECT /*+ INDEX(s PK_SHORT_FORM) */
            s.short_form_id,
            l.lesson_id,
            l.title lesson_title,
            m.name tutor_name,
            s.name short_form_name,
            s.thumbnail_url,
            s.video_url,
            l.target
        FROM
            short_form s
        JOIN lesson l ON s.lesson_id = l.lesson_id
        JOIN member m ON l.member_id = m.member_id
        WHERE
            s.deleted_at IS NULL AND
            s.expire_date > sysdate
            <if test="branchId != null">
                AND l.branch_id = #{branchId}
            </if>
        ORDER BY
            s.view_count DESC
    </select>

    <select id="selectLessonDetail"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonDetailResponse">
        SELECT
            l.lesson_id,
            l.title,
            b.name branch_name,
            l.start_date || '~' || l.end_date period,
            CASE
                WHEN l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time END AS lesson_time,
            l.cnt,
            l.place,
            m.name tutor_name,
            l.cost,
            l.online_cost,
            l.summary,
            l.curriculum,
            l.supply,
            l.thumbnail_url,
            l.preview_video_url,
            m.member_id tutor_id,
            m.profile_img_url tutor_profile_img_url
        FROM
            lesson l
        JOIN branch b ON l.branch_id = b.branch_id
        JOIN member m ON l.member_id = m.member_id
        WHERE
            l.lesson_id = #{lessonId}
    </select>

    <select id="selectTutorDetail"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.TutorLessonDetailDTO">
        SELECT
            m.name,
            m.profile_img_url,
            l.lesson_id,
            l.title,
            l.thumbnail_url,
            l.cnt,
            l.end_date,
            CASE
                WHEN l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time END AS lesson_time
        FROM
            member m
        JOIN lesson l ON m.member_id = l.member_id
        WHERE
            m.member_id = #{tutorId}
    </select>
    <select id="selectCartList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.CartResponse">
        SELECT
            b.name branch_name,
            c.cart_id,
            l.title lesson_title,
            l.start_date || '~' || l.end_date period,
            case
                when l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                else '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time end as lesson_time,
            m2.name tutor_name,
            l.target,
            l.cost,
            l.online_cost,
            online_yn
        FROM
            member m
        JOIN cart c ON m.member_id = c.member_id
        JOIN lesson l ON c.lesson_id = l.lesson_id
        JOIN branch b ON l.branch_id = b.branch_id
        JOIN member m2 ON l.member_id = m2.member_id
        WHERE
            m.member_id = #{memberId} AND c.deleted_at IS NULL
        ORDER BY
            b.branch_id, c.cart_id DESC
    </select>

    <insert id="insertCart">
        INSERT INTO
            cart (cart_id, member_id, lesson_id, online_yn)
        SELECT
            cart_seq.nextval, #{memberId}, #{lessonId}, #{onlineYn}
        FROM
            dual
        WHERE
            not exists (
                    SELECT 1
                    FROM cart
                    WHERE lesson_id = #{lessonId}
                      AND member_id = #{memberId}
            )
    </insert>

    <insert id="insertSugang" parameterType="java.util.List">
        INSERT INTO
            sugang(sugang_id, lesson_id, member_id, online_yn, lounge_yn)
        SELECT
            sugang_seq.nextval,
            lesson_id,
            member_id,
            online_yn,
            case when online_yn = 1 then 0 else 1 end as lounge_yn
        FROM
            cart
        WHERE
            member_id = #{memberId} AND
            cart_id IN
            <foreach item="cartId" collection="cartIdList" open="(" separator="," close=")">
                #{cartId}
            </foreach>
    </insert>

    <update id="deleteCart">
        UPDATE
            cart
        SET
            deleted_at = current_date
        WHERE
            member_id = #{memberId} AND
            deleted_at IS NULL AND
            cart_id IN
            <foreach item="cartId" collection="cartIdList" open="(" separator="," close=")">
                #{cartId}
            </foreach>
    </update>

    <select id="selectLessonEnrollList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonEnrollResponse">
        SELECT s.lesson_id,
               l.title
        FROM
            sugang s
        JOIN lesson l ON s.lesson_id = l.lesson_id
        LEFT JOIN before_after ba ON s.lesson_id = ba.lesson_id AND ba.member_id = #{memberId}
        WHERE
            s.member_id = #{memberId} AND
            sysdate > TO_DATE(l.end_date, 'YYYY-MM-DD') AND
            ba.lesson_id IS NULL
        ORDER BY
            s.lesson_id
    </select>

    <select id="selectLessonFieldEnrollList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonEnrollResponse">
        select
            lesson_id, title
        FROM lesson
        WHERE lesson_id IN (
            SELECT lesson_id
            FROM sugang
            WHERE member_id = #{memberId}
        ) AND sysdate > TO_DATE(start_date, 'YYYY-MM-DD')
        ORDER BY lesson_id
    </select>

    <select id="selectTutorLessonList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.TutorLessonResponse">
        SELECT
            l.lesson_id,
            l.title lesson_title
        FROM
            lesson l
        WHERE
            l.member_id = #{memberId} AND
            TO_DATE(l.end_date, 'YYYY-MM-DD') >= sysdate AND
            l.online_cost IS NOT NULL
        ORDER BY
            l.lesson_id DESC
    </select>

    <update id="updateShortFormViewCount">
        UPDATE
            short_form
        SET
            view_count = view_count + #{viewCount}
        WHERE
            short_form_id = #{shortFormId}
    </update>

    <delete id="deleteCartById">
        DELETE
        FROM
            cart
        WHERE
            cart_id = #{cartId} and member_id = #{memberId}
    </delete>
</mapper>