<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * 강좌 매퍼 XML
 * @author 손승완
 * @since 2024.08.24
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.08.24  	손승완        최초 생성
 * 2024.08.25   손승완        강좌 상세 조회 쿼리 추가
 * 2024.08.26   손승완        강사 상세 조회 쿼리 추가
 * 2024.08.26   손승완        장바구니 쿼리 추가
 * </pre>
 -->
<mapper namespace="com.innerpeace.themoonha.domain.lesson.mapper.LessonMapper">

    <resultMap id="LessonListResponseMap" type="com.innerpeace.themoonha.domain.lesson.dto.LessonListResponse">
        <result property="branchName" column="branch_name"/>

        <collection property="lessonList" ofType="com.innerpeace.themoonha.domain.lesson.dto.LessonDTO">
            <id property="lessonId" column="lesson_id"/>
            <result property="thumbnailUrl" column="lesson_thumbnail_url"/>
            <result property="target" column="target"/>
            <result property="title" column="title"/>
            <result property="cnt" column="cnt"/>
            <result property="cost" column="cost"/>
            <result property="tutorName" column="tutor_name"/>
            <result property="lessonTime" column="lesson_time"/>
        </collection>

        <collection property="shortFormList" ofType="com.innerpeace.themoonha.domain.lesson.dto.ShortFormDTO">
            <id property="shortFormId" column="short_form_id"/>
            <result property="name" column="short_form_name"/>
            <result property="thumbnailUrl" column="short_form_thumbnail_url"/>
            <result property="target" column="target" />
        </collection>
    </resultMap>

    <select id="selectLessonList"
            parameterType="com.innerpeace.themoonha.domain.lesson.dto.LessonListRequest"
            resultMap="LessonListResponseMap">
        select
            b.name branch_name,
            l.lesson_id,
            l.thumbnail_url lesson_thumbnail_url,
            l.target,
            l.title,
            l.cnt,
            l.cost,
            m.name tutor_name,
            sf.short_form_id,
            sf.name short_form_name,
            sf.thumbnail_url short_form_thumbnail_url,
            CASE
            WHEN l.cnt = 1 THEN l.start_date || ' ' || l.start_time || '~' || l.end_time
            ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time
            END AS  lesson_time
        from
            lesson l
        join
            branch b
        on
            l.branch_id = b.branch_id
        join
            member m
        on
            l.member_id = m.member_id
        join
            category c
        on
            l.category_id = c.category_id
        join
            short_form sf
        on
            l.lesson_id = sf.lesson_id
        <where>
            <if test="branchName != null and branchName != ''">
                b.name = #{branchName}
            </if>

            <if test="lessonTitle != null and lessonTitle != ''">
                and l.title like '%' || #{lessonTitle} || '%'
            </if>

            <if test="tutorName != null and tutorName != ''">
                and m.name like '%' || #{tutorName} || '%'
            </if>

            <if test="day != null">
                and l.day = #{day}
            </if>

            <if test="target != null">
                and l.target = #{target}
            </if>

            <if test="category != null and category != ''">
                and c.category = #{category}
            </if>

            <if test="startTime != null and startTime != ''">
                and substr(l.start_time, 1, 2) = #{startTime}
            </if>

            <if test="endTime != null and endTime != ''">
                and substr(l.end_time, 1, 2) = #{endTime}
            </if>

            <if test="cnt != null">
                <choose>
                    <when test="cnt == 1">
                        and l.cnt = 1
                    </when>
                    <when test="cnt == 2">
                        and l.cnt between 2 and 4
                    </when>
                    <when test="cnt == 3">
                        and l.cnt >= 5
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="selectLessonDetail"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonDetailResponse">
        select
            l.lesson_id,
            l.title,
            b.name branch_name,
            l.start_date || '~' || l.end_date period,
            CASE
                WHEN l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time END AS lesson_time,
            l.cnt,
            l.place,
            m.name tutor_name,
            l.cost,
            l.summary,
            l.curriculum,
            l.supply,
            l.thumbnail_url,
            l.preview_video_url,
            m.member_id tutor_id,
            m.profile_img_url tutor_profile_img_url
        from
            lesson l
        join
            branch b
        on
            l.branch_id = b.branch_id
        join
            member m
        on
            l.member_id = m.member_id
        where
            l.lesson_id = #{lessonId}
    </select>

    <select id="selectShortFormDetail"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.ShortFormDetailResponse">
        select

            l.lesson_id,
            m.name tutor_name,
            s.name short_form_name,
            l.title lesson_title,
            s.video_url
        from
            short_form s
        join
            lesson l
        on
            s.lesson_id = l.lesson_id
        join
            member m
        on
            l.member_id = m.member_id
        where
            s.short_form_id = #{shortFormId}
        order by
            b.branch_id
    </select>

    <select id="selectTutorDetail"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.TutorLessonDetailDTO">

        select
            m.name,
            m.profile_img_url,
            l.lesson_id,
            l.title,
            l.thumbnail_url,
            l.cnt,
            l.end_date,
            CASE
                WHEN l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                ELSE '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time END AS lesson_time
        from
            member m
        join
            lesson l
        on
            m.member_id = l.member_id
        where
            m.member_id = #{tutorId}
    </select>
    <select id="selectCartList"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.CartResponse">
        select
            b.name branch_name,
            c.cart_id,
            l.title lesson_title,
            l.start_date || '~' || l.end_date period,
            case
                when l.cnt = 1 THEN l.start_date || '(' || l.day || ') ' || l.start_time || '~' || l.end_time
                else '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time end as lesson_time,
            m.name tutor_name,
            l.target,
            l.cost,
            l.online_cost,
            online_yn
        from
            member m
        join
            cart c
        on
            m.member_id = c.member_id
        join
            lesson l
        on
            c.lesson_id = l.lesson_id
        join
            branch b
        on
            l.branch_id = b.branch_id
        where
            m.member_id = 1
    </select>

    <insert id="insertCart">
        insert into
            cart (cart_id, member_id, lesson_id, online_yn)
        select
            cart_seq.nextval, #{memberId}, #{lessonId}, #{onlineYn}
        from
            dual
        where
            not exists (
                    select 1
                    from cart
                    where lesson_id = #{lessonId}
                      and member_id = #{memberId}
            )
    </insert>
</mapper>