<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innerpeace.themoonha.domain.lesson.mapper.LessonMapper">

    <select id="selectLessonList"
            parameterType="list"
            resultType="com.innerpeace.themoonha.domain.lesson.dto.LessonDTO">
        select
            l.lesson_id,
            l.thumbnail_url,
            l.target,
            l.title,
            l.cnt,
            l.cost,
            m.name tutor_name,
            CASE
             WHEN l.cnt = 1 THEN
             start_date || ' ' || l.start_time || '~' || l.end_time
             ELSE
             '매주 ' || l.day || ' ' || l.start_time || '~' || l.end_time
            END AS lesson_time
        from
            lesson l
        join
            branch b
        on
            l.branch_id = b.branch_id
        join
            member m
        on
            l.member_id = m.member_id
        join
            category c
        on
            l.category_id = c.category_id
        <where>
            <if test="branchName != null and branchName != ''">
                b.name = #{branchName}
            </if>

            <if test="lessonTitle != null and lessonTitle != ''">
                and l.title like '%' || #{lessonTitle} || '%'
            </if>

            <if test="tutorName != null and tutorName != ''">
                and m.name like '%' || #{tutorName} || '%'
            </if>

            <if test="day != null">
                and l.day = #{day}
            </if>

            <if test="target != null">
                and l.target = #{target}
            </if>

            <if test="category != null and category != ''">
                and c.category = #{category}
            </if>

            <if test="startTime != null and startTime != ''">
                and substr(l.start_time, 1, 2) = #{startTime}
            </if>

            <if test="endTime != null and endTime != ''">
                and substr(l.end_time, 1, 2) = #{endTime}
            </if>
        </where>
    </select>
</mapper>